orjson~=3.11.7
p115client==0.0.8.10
p115rsacipher==0.0.1
python-sqlitedict==0.0.3
sentry-sdk~=2.63.0
aligo~=6.2.8
qrcode_terminal~=0.8
pyahocorasick~=2.3.0
diskcache~=5.6.3
zstandard~=0.25.0
mfusepy~=3.1.0
p115center-sdk==0.0.17
slippers-proxy~=0.3.0
full_strm_sync==0.1.5
txt_tree_storage==0.2.0
share_strm_scan==0.2.1
numpy
httpx[http2]
